name: action1

on:
  workflow_dispatch:
  repository_dispatch: 
  schedule:
    - cron: "0 21 * * THU"

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Step1
        run: |
          echo "This fails"
          exit 1
        